<div class="page-header">
  <%= link_to new_match_category_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Match category
  <% end %>
  <h1>Listing match_categories</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Match category</th>
            <th>Name</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @match_categories) do |match_category| %>
            <td><%= match_category.match_category_id %></td>
            <td><%= match_category.name %></td>
            <td><%= link_to 'Show', match_category %></td>
        <td><%= link_to 'Edit', edit_match_category_path(match_category) %></td>
        <td><%= link_to 'Destroy', match_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
