<div class="page-header">
  <%= link_to new_match_criterium_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Match criterium
  <% end %>
  <h1>Listing match_criteria</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Title</th>
            <th>Match category</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @match_criteria) do |match_criterium| %>
            <td><%= match_criterium.title %></td>
            <td><%= match_criterium.match_category %></td>
            <td><%= link_to 'Show', match_criterium %></td>
        <td><%= link_to 'Edit', edit_match_criterium_path(match_criterium) %></td>
        <td><%= link_to 'Destroy', match_criterium, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
